# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.db-journal
prisma/dev.db

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
